<li id="post-<%= post._id %>">
  <div class="post-content">
    <% if(locals.user && locals.user.id == post.user.id){ %>
    <small
      ><a class="delete-post-button" href="/posts/destroy/<%= post._id %>"
        >X</a
      ></small
    >
    <% } %>
  </div>
  <%= post.content %>
  <div class="post-user">
    <% if (post.user) { %> <%= post.user.name %> <% } else { %> User not
    available <% } %>
  </div>
  <div class="post-comments">
    <% if (locals.user){ %> 
    <form
      action="/comments/create"
      class="new-comment-form"
      id="new-comment-form-<%= post._id %>"
      method="post"
    >
      <input
        type="text"
        name="content"
        placeholder="Type here to add comment..."
      />
      <input type="hidden" name="postId" value="<%= post._id %>" id="postId" />
      <input type="submit" value="Add comment" />
    </form>
    <% } %>

    <div id="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for (comment of post.comments) {%> <%- include('_comment') -%> <% }
        %>
      </ul>
    </div>
  </div>
</li>
