<link rel="stylesheet" href="/css/home.css" />
<h1>home page/ <%= title %></h1>
<section id="feed-posts">
  <h4>Posts</h4>
  <form action= "/posts/create" , id="new-post-form" method="POST">
    <textarea
      name="content"
      id=""
      cols="30"
      rows="3"
      placeholder="type here ...."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <div id="posts-list-container">
    <ul>
      <% for(post of posts){ %>
      <li>
        <div class="post-content"><%= post.content %></div>
        <div class="post-user">
          <% if (post.user) { %> 
          <%= post.user.name %> 
          <% } else { %> User not available <% } %>
        </div>
        <div class="post-comments">
          <% if (locals.user){ %>
          <form action="/comments/create" method="POST">
            <input
              type="text"
              name="content"
              placeholder="Type here to add comment..."
            />
            <input type="hidden" name="postId" value="<%= post._id %>" />
            <input type="hidden" name="userId" value="<%= locals.user._id %>" />
            <input type="submit" value="Add comment" />
          </form>
          <% } %>

          <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
              <% for (comment of post.comments) {%>
              <p>
                <%= comment.content %>
                <br />
                <small>
                  <% if (comment.user) { %> 
                  <%= comment.user.name %> 
                  <% } else { %>
                  User not available 
                  <% } %>
                </small>
              </p>
              <% } %>
            </ul>
          </div>
        </div>
      </li>
      <%} %>
    </ul>
  </div>
</section>